<h1>Greenie</h1>

<table>
	
<% @items.each do |item| %>
	<tr>
		<td>
		  <%= item.name %><br>
		</td>
		<td>
			<em> <%= item.description %><br> </em>
		</td>
		<td>
			<%= item.original_price.round(2) %> €<br>
		</td>
		<td>
		    <img src="<%=item.photo%>"><br><br>
		</td>
	</tr>
<% end %>

</table>