
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <%= link_to "Greenie", root_path, id: "logo" %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/">Greenie<span class="sr-only">(current)</span></a>
          </li>

        <% if user_signed_in? %>
          <li><a href="#" class="nav-link"> Mon profil</a></li>
          <li><%= link_to " Mon panier", cart_path, class: "nav-link" %></li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Menu
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">


              <%= link_to "Déconnexion", destroy_user_session_path, method: :delete, class: "dropdown-item" %>


            </div>
          </li>

        <% else %>
          <li><%= link_to "Connexion", user_session_path, class: "nav-link" %></li>
        <% end %>

        </ul>
      </div>
    </nav>